html, body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #0D417B;
}
.navBarDiv {
  place-items: center;
  padding: 0;
  background-color: black;
  padding-top: 10px;
}

.navBarDiv h1 {
  font-size: 28px;
  width: 100%;
  text-align: center;
  color: white;
  margin: 0;
  padding-top: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.navBarDiv header {
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
  background: #ffffff;
  width: 100%;
  background: transparent;
  display: flex;
}

.navBarDiv header a {
  padding: 8px 12px;
  border: 2px solid black;
  background-color: #ffffff;
  color: black;
}

.navBarDiv header a.active {
  background-color: #6b6b6b;
  color: #ffffff;
}

.navBarDiv header a:hover {
  color: #ffffff;
  background-color: #0D417B;
}

.focalPointDiv {
  width: 85%;
  margin: 0 auto;
  background-color: #cbc9c9;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.footer {
  margin-top: 10%;
  padding: 10px 10px;
  background: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.footer h2 {
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.pageCenterDiv {
  display: flow-root;
}

.floatRightImg {
  float: right;
  width: 20%;
  height: auto;
  margin-right: 1.25%;
}

.pageCenterDiv p {
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 2%;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
}

.pageCenterDiv h1 {
  margin-top: 4%;
  margin-left: 2.5%;
  font-family: 'Times New Roman', Times, serif;
}